body {
    background-image: radial-gradient(circle, #eb11e1, #d700e5, #c000e9, #a600ec, #8700f0, #673ffa, #4259ff, #006bff, #008dff, #00a5fc, #00b9e8, #35c9d6);
}

h1 {
    margin-top: 150px;
    font-size: 100px;
    border: 5px solid;
    margin-left: 350px;
    margin-right: 350px;
    text-align: center;
    margin-bottom: 170px;
}

p {
    font-size: 60px;
    margin-top: 60px;
    font-weight: 700;
    text-align: center;
}